* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

.itemTitle {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 5px;
}

#chickenTitle {
    background-color: pink;
}

#beefTitle {
    background-color: lightcoral;
}

#sushiTitle {
    background-color: bisque;
}

.itemContent {
    padding: 5px;
    margin-top: 30px;
}

.col-md-12,
.col-md-6,
.col-sm-12,
.col-lg-4 {
    float: left;
}

.item {
    position: relative;
    background: lightgrey;
    border: 1px solid black;
    margin: 5px;
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
    }
}